# Dependencies
node_modules/

# Build output
dist/
.angular/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
*.local

# Cache
.npm
.eslintcache

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
